h1, p, h2, h4, input{
    margin: 0px;
    padding: 0px;
}
#all{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 800px;
    height: 600px;
    background-color: brown;
}

#header{
    width: inherit;
    height: 100px;
    background-color: yellow;
    padding-top: 20px;
    box-sizing: border-box;
}
#title-header{
    font-size: 50px; 
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#content-left{
    width: 450px;
    height: 500px;
    background-color: blue;
    padding-top: 20px;
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
}
#values{
    width: 410px;
    height: 130px;
    background-color: cornflowerblue;
}
#valor1, #valor2{
    font-size: 30px;
    font-family: arial;
    margin-top: 7px;
    float: left;
}
#txt-valor1, #txt-valor2{
    width: 300px;
    height: 50px;
    float: left;
}
#valor2{
    clear: both;
}
#txt-valor1{
    margin-bottom: 30px;
}
#radios{
    width: 410px;
    height: 250px;
    background-color: tomato;
    padding-top: 30px;
    box-sizing: border-box;
    font-size: 30px;
    font-family: arial;
}
.radios{
    margin-bottom: 20px;
    font-size: 30px;
    font-family: arial;
}
#submit{
    width: 410px;
    height: 50px;
    background-color: aqua;
    
}
#content-right{
    width: 350px;
    height: 500px;
    background-color: ;
    float: left;
}
