/* ARQUIVOS DE FONTES UTILIZADAS NAS PAGINAS */

@font-face{
    font-family: cabin;
    src:  url(../fontes/cabin/Cabin-Regular.ttf);
}
@font-face{
    font-family: dk;
    src:  url(../fontes/dk_criss_cross/DK\ Criss\ Cross.ttf);
}
@font-face{
    font-family: 'bebas kai';
    src:  url(../fontes/bebas/BebasKai.ttf);
}
@font-face{
    font-family: 'bebas neue';
    src:  url(../fontes/bebas/BebasNeue-Regular.otf);
}
@font-face{
    font-family: light;
    src:  url(../fontes/the_light_font/TheLightFont.otf);
}
@font-face{
    font-family: megan;
    src:  url(../fontes/megan_june/Megan\ June.otf);
}
@font-face{
    font-family: existence;
    src:  url(../fontes/existence/ExiL-OT/Existence-Light.otf);
}
@font-face{
    font-family: arrow;
    src:  url(../fontes/arrows/Arrows.otf);
}
@font-face{
    font-family: roboto;
    src:  url(../fontes/roboto/Roboto-Regular.ttf);
}
@font-face{
    font-family: 'roboto condensed';
    src:  url(../fontes/roboto/Roboto-Regular.ttf);
}
@font-face{
    font-family: steelfish;
    src:  url(../fontes/steelfish/steelfish\ rg.ttf);
}
@font-face{
    font-family: modern;
    src:  url(../fontes/core_2/Core.ttf);
}
@font-face{
    font-family: liquid;
    src:  url(../fontes/beer_money/beer\ money.ttf);
}

