
@media screen and (max-device-width: 800px), screen and (max-width: 999px){
    /* -----HEADER----- */
    :active {
        outline: none;
        text-decoration: none
    }

    :focus{
        background: none;
    }
    #header-mobile{
        width: 100%;
        height: 200px;
        background-color: hsla(222, 45%, 16%, 0.957);
        background-color: #16213bf4;
        background-color: rgba(22, 33, 59);
        position: fixed;
        z-index: 990;
    }

    #cabecalho-desktop{
        display: none;
    }

    #cabecalho-mobile{
        width: 100%;
        height: 200px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }

    #menu-mobile{
        width: 200px ;
        height: 200px;
        flex-wrap: wrap;
    }
    .icon-menu-mobile{
        width: 90px;
        height: 90px;
    }

    #caixa-logo-mobile{
        width: 375px;
        height: 200px;
        height: inherit;
        box-sizing: border-box;
    }
    #logo-mobile{
        width: 375px;
        height: 200px;
        box-sizing: border-box;
        /*float: left;*/
        outline: none;
    }
    #caixa-pesquisa-mobile{
        width: 200px;
        height: 200px;
    }
    .icon-pesquisa-mobile{
        width: 95px;
        height: 95px;
    }
    #caixa-de-pesquisa{
        width: 80%;
        height: 180px;
        background-color: #16213b;
        border-radius: 10px;
        position: absolute;
        /* transform: translateX(-58%); */
        opacity: 0;
        visibility: hidden;
        transform: translate(80%, 0);
        transition: all 0.4s ease-in-out;
    }
    #txt-pesquisa-mobile{
        /* background-color: #03032e; */
        width: 90%;
        height: 50%;
        background: none;
        border: none;

        font-family: 'agency fb light';
        font-size: 85px;
        color: #b9b9b9;

    }
    #container-menu{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.527);
        position: fixed;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        top: 0px;
        left: 0px;
    }
    #caixa-menu-mobile{
        width: 80%;
        height: 100%;
        background-color: rgba(22, 33, 59, 0.980);
        position: fixed;
        z-index: 999;
        top: 0px;
        left: 0px;
        touch-action: none;
        /* margin-left: 50%; */
    }

    .item-menu-mobile-logo{
        width: 100%;
        height: 10%;
        list-style: none;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(22, 33, 59);
    }
    .item-menu-mobile{
        width: 100%;
        height: 10%;
        list-style: none;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: existence;
        color: rgb(202, 133, 30);
        font-size: 65px;
        text-align: center;
        word-wrap: normal;
        font-weight: bold;
    }
    .item-menu-mobile:active{
        background-color: #eeb518;
        color: rgb(202, 133, 30);
    }

    /* .text-login-mobile{
        width: 168px;
        height: 90px;
        float: left;
        padding-left: 5px;
        padding-top: 10px;
        box-sizing: border-box;
        margin-right: 1px;
    }
    #usuario-mobile, #senha-mobile{
        font-size: 22px;
        font-family: megan;
        margin-bottom: 10px;
        margin-left: 5px;

        color: #ffa114;
    }
    #txt-usuario-mobile, #txt-senha-mobile{
        width: 160px;
        height: 30px;
        border-radius: 15px;
        background-color: #ffffff;
        border: none;
        text-align: center;

        color: #470505ed;
        color: hsla(0, 87%, 15%, 0.931);
        color: rgba(71, 5, 5, 0.931);
        font-size: 17px;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
    }
    #btn-mobile{
        width: 80px;
        height: 32px;
        margin-top: 45px;
        box-sizing: border-box;
        padding-left: 5px;
        float: left;
    }
    #btn-login-mobile{
        width: 70px;
        height: inherit;
        background-color: rgb(177, 135, 20);
        border: none;
        border-radius: 15px;
        cursor: pointer;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;

        color: #D8FFE2;
        font-size: 20px;
        font-family: megan;
    }
    #btn-login-mobile:active{
        background-color: #D8FFE2;
        color: rgb(177, 135, 20);
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
    } */
    #aux-mobile{
        width: 100%;
        height: 200px;
    }
    #aux-desktop{
        display: none;
    }
    /* -----HEADER----- */





    /* -----GERAL----- */
    html, body{
        /* width: 100%; */
        height: 100%;
    }

    #pagina{
        /* width: 100%; */
        min-height: 100%;
        position: relative;
    }

    * html #pagina{
        /* width: 100%; */
        height: 100%;
    }
    #tudo{
        width: 100%;
        min-height: 500px;
        height: auto;
        overflow: hidden;
        margin: 0 auto;
    }
    #titulo-pagina{
        width: 100%;
        height: 120px;
        background-color: #17213be6;
        background-color: hsla(223, 44%, 16%, 0.9);
        background-color: rgb(23, 33, 59, 0.9);
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 45px;
        font-family: 'agency fb';
        color: #f3b21a;
    }
    
    #conteudo{
        width: 100%;
        min-height: 1800px;
        height: auto;
        overflow: hidden;
        background-color: #f5ef9fcc;
        background-color: hsla(56, 81%, 79%, 0.8);
        background-color: rgb(245, 239, 159, 0.8);
        box-sizing: border-box;
        border-top: solid 3px #090a4d;
        display: flex;
        justify-content: center;
    }
    #conteudo-lojas,
    #conteudo-eventos,
    #conteudo-contato,
    #conteudo-sobre{
        width: 100%;
        min-height: 1800px;
        height: auto;
        overflow: hidden;
        background-color: #f5ef9fcc;
        background-color: hsla(56, 81%, 79%, 0.8);
        background-color: rgb(245, 239, 159, 0.8);
        box-sizing: border-box;
        border-top: solid 3px #090a4d;
    }
    /* -----GERAL----- */









    /* -----HOME----- */
    #slider{
        display: none;
    }

    #imagem-home-mobile{
        width: 100%;
        height: 500px;
        padding: 0px;
        background-color: #f31239;
    }
    #img-home{
        width: 100%;
        height: 500px;    
    }

    #abrir-menu{
        width: 130px;
        height: 130px;
        background-color: #03032ee3;
        position: fixed;
        margin-left: 35%;
        bottom: 10%;
        border-radius: 60px;
        box-sizing: border-box;
        padding-top: 10px;
        z-index: 992;
    }
    .icon-filter{
        width: 85px;
        height: 85px;
        /* background-color: violet; */
    }
    .menu-categoria-close{
        margin-left: -790px;
        transition: 0.6s ease-in-out;
        visibility: hidden;
    }
    /* CLASSE PARA ABRIR VERTICAL */
    .menu-categoria-open{
        margin-left: 0px;
        transition: 0.6s ease-in-out;
        visibility: visible;
    }
    #container-categoria-menu{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.527);
        position: fixed;
        visibility: hidden;
        opacity: 0;
        z-index: 994;
        top: 0px;
        left: 0px;
        touch-action: none;
    }
    #menu-esq{
        width: 80%;
        height: 100%;
        position: fixed;
        background-color: #fcae3a;
        left: 0px;
        top: 0px;
        z-index: 995;
        box-sizing: border-box;
        padding-top: 50px;
    }
    .item-menu-esq-clean{
        width: 100%;
        min-height: 120px;
        height: auto;
        overflow: hidden;
        background-color: #03032ee7;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        transition: 0.25s;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        cursor: pointer;
        padding-left: 15px;

        font-family: 'agency fb';
        font-size: 60px;
        color: #fcfcfc;
        letter-spacing: 1px;

        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .item-menu-esq-clean:hover{
        background-color: #0a0a55e7;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;
    }
    .icon-clean-categories{
        width: 55px;
        height: 55px;
    }

    .item-menu-esq{
        width: 100%;
        min-height: 180px;
        height: auto;
        overflow: hidden;
        background-color: #ffffff93;
        background-color: hsla(0, 0%, 100%, 0.575);
        background-color: rgba(255, 255, 255, 0.575);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        transition: 0.25s;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        cursor: pointer;

        font-family: 'agency fb';
        font-size: 60px;
        color: #081064;
        letter-spacing: 1px;

        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .icon-subcategorias{
        width: 180px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding-top: 5px;
        cursor: pointer;
        /* background-color: #5a4baf; */

        font-family: cabin;
        font-size: 40px;
        color: #e47d1d;
    }
    .icon-show-categories{
        width: 50px;
        height: 50px;
    }
    .item-menu-esq h3{
        max-width: 70%;
        margin-left: 30px;
        /* margin-top: 15px; */
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    .caixa-subitem-menu-esq{
        width: 100%;
        min-height: 0px;
        height: auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .subitem-menu-esq{
        width: 100%;
        height: 120px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        transition: 0.25s;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        cursor: pointer;
        margin-bottom: 5px;
        background-color: rgba(246, 128, 30, 0.212);
        /* display: none; */

        font-size: 40px;
        color: #090a4d;
    }
    .subitem-menu-esq h3{
        margin-left: 60px;
    }
    .mostrar{
        opacity: 1;
        visibility: visible;
        min-height: 80px;
        transition: .2s ease-in;
    }
    .esconder{
        opacity: 0;
        visibility: hidden;
        height: 0px;
        transition: .2s ease-in;
    }


    #produtos{
        width: 80%;
        min-height: inherit;
        height: auto;
        overflow: hidden;
        float: left;
        box-sizing: border-box;
        padding: 8px;
        box-sizing: border-box;
    }
    .produto{
        width: 98%;
        height: 1120px;
        background-color: #fffffffa;
        background-color: hsla(0, 0%, 100%, 0.98);
        background-color: rgba(255, 255, 255, 0.98);
        box-sizing: border-box;
        padding-top: 10px;
        margin: 5px 5px 30px 5px;
        float: left;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #0000007a;
        box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.478);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;

        font-family: Arial, Helvetica, sans-serif;
    }
    .produto-img{
        width: 510px;
        height: 510px;
        margin-bottom: 30px;
        border-radius: 45px;
        box-shadow: 0px 0px 10px #0000007a;
        box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.479);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
        cursor: pointer;
    }

    .nome-texts, .descricao-texts, .preco-texts{
        width: 100%;
        float: left;
        margin-bottom: 5px;
        box-sizing: border-box;
        cursor: pointer;

        font-family: 'bebas kai';
        text-align: center;
    }
    .nome-texts{
        height: 150px;
        padding-top: 2px;
        padding-left: 4px;
        background-color: #03032ece;
        background-color: hsla(240, 88%, 10%, 0.808);
        background-color: rgba(3, 3, 46, 0.808);
        border-top: solid 5px #ff9736fa;
        border-top: solid 5px hsla(29, 100%, 61%, 0.98);
        border-top: solid 5px rgba(255, 151, 54, 0.98);
        border-bottom: solid 5px #ff9736fa;
        border-bottom: solid 5px hsla(29, 100%, 61%, 0.98);
        border-bottom: solid 5px rgba(255, 151, 54, 0.98);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;

        font-size: 45px;

        color: #ecf2f7;
        text-transform: capitalize;
    }
    .descricao-texts{
        height: 200px ;
        text-align: justify;
        line-height: 1.15;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        color: #5f120b;
    

        font-size: 45px;
    }
    .preco-texts{
        height: 120px;

        color: #f71313;
        font-size: calc(40px * 3.05);
        font-style: italic;
    }
    .detalhes{
        margin-top: 10px;
        margin-left: 70%;
        color: rgb(70, 43, 192);
        text-decoration: underline;
        font-size: 45px;
    }

    /* >>modal<< */
    #container-index{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 999;
        display: none;
    }
    #modal-index{
        width: 90%;
        height: 75%;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: rgb(255, 255, 255);
    }
    #fechar-modal-index{
        width: 80px;
        height: 80px;
        position: relative;
        margin-left: 91%;
        margin-top: -6%;
        background-color: tomato;
    }    
    .icon-close-index{
        width: 80px;
        height: 80px;
        cursor: pointer;
    }
    #container-modal-produto{
        width: 100%;
        height: 90%;
        overflow: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        /* background-color: rgba(24, 18, 18, 0.041); */
        margin-top: -85px;
    }
    #titulo-produto{
        width: 100%;
        height: 10%;
        background-color: #03032e;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: "agency fb";
        color: #ffa114;
        font-size: 35px;
        text-align: center;
    }
    #conteudo-view-produto{
        width: 90%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /* background-color: tomato; */
    }
    #img-view-produto{
        width: 90%;
        max-height: 50%;
        /* background-color: rgb(0, 153, 255); */
        display: flex;
        justify-content: center;
    }
    #src-view-produto{
        max-width: 100%;
        max-height: 500px;
    }
    #info-view-produto{
        width: 90%;
        height: 50%;
        /* background-color: salmon; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;

        font-family: 'agency fb';
    }
    #preco-view-produto,
    #descricao-view-produto,
    #categoria-view-produto,
    #subcategoria-view-produto{
        margin-bottom: 15px;
        box-sizing: border-box;
    }
    #preco-view-produto{
        width: 100%;
        height: 20%;
        /* background-color: rgb(200, 241, 134); */
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 75px;
        font-style: italic;
        color: #2fa717;
        font-family: 'agency fb';
    }
    .cifrao{
        font-size: 45px;
        vertical-align: top;
        font-family: 'agency fb light';
    }
    #descricao-view-produto{
        width: 100%;
        min-height: 10%;
        max-height: 40%;
        /* background-color: rgb(188, 174, 143); */
        line-height: 1;
        border-bottom: solid 3px #ffa114;
        padding-bottom: 5px;

        text-align: justify;
        font-size: 55px;
        font-family: 'agency fb light';
    }
    #descricao-view-produto p::first-letter{
        margin-left: 10px;
    }

    #categoria-view-produto{
        width: 100%;
        height: 12%;
        /* background-color: rgb(49, 129, 204); */
        
        font-size: 60px;
        font-family: 'agency fb';
        color: #08083f;
    }
    #subcategoria-view-produto{
        width: 100%;
        height: 10%;
        /* background-color: rgb(155, 64, 64); */
        box-sizing: border-box;
        border-bottom: solid 1px #ffa114;
        
        font-size: 55px;
        padding-left: 30px;
        font-family: 'agency fb';
        color: #0f0f61;
    }
    #btns-compra{
        width: 70%;
        height: 15%;
        /* background-color: #ec8c31; */
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding-right: 10px
    }
    #add-carrinho, #comprar{
        height: 90%;
        border: none;
        cursor: pointer;

        font-family: 'agency fb';
        font-size: 25px;
        color: #ffffff;
    }
    #add-carrinho{
        width: 30%;
        background-color: rgb(7, 7, 56);
        transition: 0.2s ease-out;
        border-radius: 15px;
        margin-right: 15px;
    }
    #img-carrinho{
        width: 40%;
        /* height: 50%; */
    }
    #comprar{
        width: 30%;
        background-color: rgb(37, 202, 15);
        transition: 0.2s ease-out;
        border-radius: 15px;
    }
    #img-comprar{
        width: 40%;
    }

    #promocao-view-produto{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        box-sizing: border-box;
        padding: 15px;

        font-family: 'agency fb';
        font-size: 55px;
        color: #bb2424;
        word-wrap: normal;
        text-align: center;
    }
    /* >>modal<< */
    /* -----HOME----- */



    /* -----NOTÍCIAS----- */
    #noticias-principais{
        width: 100%;
        height: 700px;
        margin-bottom: 20px;
    }
    #principais-esq, #principais-dir{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        float: left;
        margin-bottom: 10px;
    }
    #principais-esq{
        width: 100%;
        height: 700px;
    }
    #principais-dir{
        width: 100%;
        height: 550px;
        background-color: #ec3131;
        /* display: none; */
    }


    #noticia-principal1{
        width: 100%;
        height: inherit;
        /* background-color: rgb(161, 153, 42); */
    }
    #conteudo-principal1{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #texto-principal1{
        width: 100%;
        height: 240px;
        background-color: #08083f7a;
        background-color: hsla(240, 77%, 14%, 0.478);
        background-color: rgba(8, 8, 63, 0.478);
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        box-sizing: border-box;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        cursor: pointer;

        text-shadow: 1px 1px 2px #000000ee;
        text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.933);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.932);
    }
    
    #texto-principal1 h2{
        font-family: 'agency fb';
        font-weight: bold;
        font-size: 80px;
        color: #f3ac08;
        margin-bottom: 10px;
    }
    #texto-principal1 p{
        font-family: 'roboto condensed', arial;
        color: #ffffff;
        font-size: 40px;
    }


    #noticia-principal2{
        width: 50%;
        height: 550px;
        overflow: hidden;
    }
    #conteudo-principal2{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        /* background-image: url(../imgs/320623.png); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    #texto-principal2{
        width: 100%;
        height: 195px;
        background-color: #08083f7a;
        background-color: hsla(240, 77%, 14%, 0.478);
        background-color: rgba(8, 8, 63, 0.478);
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        cursor: pointer;

        text-shadow: 1px 1px 2px #000000ee;
        text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.932);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.932);
    }
    
    #texto-principal2 h2{
        font-family:'agency fb';
        font-weight: bold;
        font-size: 52px;
        color: #f3ac08;
        margin-bottom: 5px;
    }
    #texto-principal2 p{
        font-family: 'roboto condensed', arial;
        color: #ffffff;
        font-size: 28px;
    }

    #noticia-principal3{
        width: 50%;
        height: 550px;
        overflow: hidden;
    }
    #conteudo-principal3{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        background-image: url(../imgs/485320.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }    
    #texto-principal3{
        width: 100%;
        height: 195px;
        background-color: #08083f7a;
        background-color: hsla(240, 77%, 14%, 0.478);
        background-color: rgba(8, 8, 63, 0.478);
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        cursor: pointer;

        text-shadow: 1px 1px 2px #000000ee;
        text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.932);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.932);
    }    
    #texto-principal3 h2{
        font-family:'agency fb';
        font-weight: bold;
        font-size: 52px;
        color: #f3ac08;
        margin-bottom: 5px;
    }
    #texto-principal3 p{
        font-family: 'roboto condensed', arial;
        color: #ffffff;
        font-size: 28px;
    }


    #noticias-esq{
        width: 70%;
        min-height: inherit;
        height: auto;
        overflow: hidden;
        float: left;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 30px;
        box-sizing: border-box;
    }
    .container-noticias{
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
        width: 100%;
        height: 780px;
        background-color: #f4f4fab2;
        background-color: hsla(240, 37%, 97%, 0.698);
        background-color: rgba(244, 244, 250, 0.698);
        margin-bottom: 20px;
        margin-top: 20px;
        box-shadow: 3px 3px 5px #00000073;
        box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.452);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.452);
    }
    
    .img-noticias{
        width: 100%;
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .txt-noticias{
        width: 100%;
        height: 330px;
        border-radius: 0px 15px 15px 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding-top: 5px;
    }
    .noticias-autor-data{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: solid 3px #ff6600;

        font-family: existence;
        font-size: 18px;
        text-align: center;
        color: #ec8c31;
        text-shadow: 1px 1px 0px #00000080;
        text-shadow: 1px 1px 0px hsla(0, 0%, 0%, 0.5);
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    }
    .titulo-noticias{
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        box-sizing: border-box;
        overflow: hidden;
        padding: 15px;
        text-shadow: 1px 1px 2px #00000080;
        text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.5);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

        font-size: 30px;
        color: #03062a;
        font-family: 'agency fb';
        letter-spacing: 1px;
        text-align: center;
    }
    
    .resumo-noticias{
        width: 100%;
        height: 120px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: cabin;
        font-size: 28px;
        text-align: justify;
        word-wrap: break-word;
        color: #03032e;
    }

    #noticias-dir{
        width: 25%;
        min-height: 200px;
        height: auto;
        overflow: hidden;
        box-sizing: border-box;
        padding-left: 2%;
        margin-left: 1%;
    }
    #topo-recentes{
        width: 80%;
        height: 60px;
        background-color: #03032e;
        margin-top: 25px;
        margin-left: 6%;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: cabin;
        color: #f3b21a;
        font-size: 15px;
    }
    .mais-recentes{
        width: 91%;
        min-height: 100px;
        height: auto;
        overflow: hidden;
        margin-top: 20px;
        background-color: #f3b21a;
        padding-top: 15px;
        padding-left: 40px;
        padding-right: 5px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 3px 5px #00000073;
        box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.452);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.452);
        flex-wrap: wrap;

        font-family: cabin;
        color: #03032e;
        font-size: 20px;
        font-weight: bold;
    }
    .item-recentes{
        list-style: radio;
        margin-bottom: 20px;
        vertical-align: -webkit-baseline-middle;
    }
    
    /* -----NOTÍCIAS----- */




    /* -----PROMOÇÕES----- */
    #promocoes-esq{
        /* width: 300px;
        min-height: inherit;
        height: auto;
        overflow: hidden;
        float: left; */
        display: none;
    }
    #promocoes-dir{
        width: 100%;
        min-height: inherit;
        height: auto;
        overflow: hidden;
        box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 3px;
        padding-top: 3px;
        padding-bottom: 3px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }



    #menu-promocoes{
        width: inherit;
        min-height: 700px;
        height: auto;
        overflow: hidden;
        float: left;
    }
    .item-menu-promocoes h3 {
        margin-bottom: 10px;
    }
    .item-menu-promocoes{
        transition: 0.25s;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        width: inherit;
        min-height: 80px;
        height: auto;
        overflow: hidden;
        background-color: #ffffff93;
        background-color: #ffffff93;
        background-color: rgba(255, 255, 255, 0.575);
        box-sizing: border-box;
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 10px;

        font-family: cabin;
        font-size: 20px;
        color: #e47d1d;
        text-shadow: 1px 1px 2px #0000009c;
        text-shadow: 1px 1px 2px #0000009c;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.61);
    }
    .item-submenu-bicicletas,
    .item-submenu-acessorios{
        font-size: 20px;
        margin-left: 50px;
        color: #03032e;
    }

    .promocoes{
        width: 80%;
        height: 1150px;
        background-color: #fffffffa;
        background-color: hsla(0, 0%, 100%, 0.98);
        background-color: rgba(255, 255, 255, 0.98);
        box-sizing: border-box;
        padding-top: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        float: left;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #0000007a;
        box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.479);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .promocoes-img{
        width: 550px;
        height: 550px;
        margin-bottom: 10px;
        border-radius: 15px;
        box-shadow: 0px 0px 10px #0000007a;
        box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.479);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;
        cursor: pointer;
    }
    .promocoes-nome, .promocoes-inicial,
    .promocoes-com-desconto,
    .tipo-pagamento{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;

        font-family: 'bebas kai';
    }
    .promocoes-nome{
        height: 120px;
        padding-top: 2px;
        padding-left: 4px;
        background-color: #061a5dce;
        background-color: hsla(226, 88%, 19%, 0.808);
        background-color: rgba(6, 26, 93, 0.808);
        border-top: solid 2px #ff9736fa;
        border-top: solid 2px hsla(29, 100%, 61%, 0.98);
        border-top: solid 2px rgba(255, 151, 54, 0.98);
        border-bottom: solid 2px #ff9736fa;
        border-bottom: solid 2px hsla(29, 100%, 61%, 0.98);
        border-bottom: solid 2px rgba(255, 151, 54, 0.98);

        font-size: 45px;
        color: #efefef;
        text-transform: capitalize;
    }
    .porcentagem-desconto{
        width: 100%;
        height: 80px;
        margin-top: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        font-size: 42px;
        color: #3b9c0e;
        font-family: 'bebas kai';
        font-style: italic;
    }
    .promocoes-inicial{
        height: 70px;
        color: #3b1410;
        font-size: 40px;
        text-decoration: line-through;
    }
    .por{
        font-size: 50px; 
        vertical-align:middle;
    }
    .promocoes-com-desconto{
        height: 130px;
        margin-top: -12px;

        color: #f71313;
        font-size: 90px;
    }
    
    .tipo-pagamento{
        width: 100%;
        height: 100px;
        margin-top: -12px;
        text-align: center;

        font-family: roboto, 'arial';
        color: #1b1157;
        font-size: 32px;
    }
    .caixa-btn-comprar{
        width: 316px;
        height: 45px;
        background-color: #f8f3edd9;
        background-color: hsla(33, 44%, 95%, 0.85);
        background-color: rgba(248, 243, 237, 0.85);
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 999;
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
        left: 0;
        top: 390px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 5px 5px;
    }
    .btn-comprar{
        width: 135px;
        height: 40px;
        background-color: #f58223b9;
        background-color: hsla(27, 91%, 55%, 0.725);
        background-color: rgba(244, 129, 35, 0.725);
        box-sizing: border-box;
        padding-top: 3px;
        box-shadow: 2px 2px 5px #00000055;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.334);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.334);
        border: none;
        cursor: pointer;
        transform: skewX(-10deg);
        -webkit-transform: skewX(-10deg);

        font-family: cabin;
        font-weight: bold;
        text-align: center;
        font-size: 22px;
        color: #1e2462;
    }
    /*.btn-comprar:hover{*/
    /*    -webkit-transition: 0.2s ease-in;*/
    /*    -moz-transition: 0.2s ease-in;*/
    /*    transition: 0.2s ease-in;*/
    /*}*/
    /*.promocoes:hover > .caixa-btn-comprar{*/
    /*    -webkit-transition: 0.2s ease-in;*/
    /*    -moz-transition: 0.2s ease-in;*/
    /*    transition: 0.2s ease-in;*/
    /*    opacity: 1;*/
    /*    visibility: visible;*/
    /*}*/
    /* -----PROMOÇÕES----- */


    /* -----LOJAS----- */
    #map{
        width: 100%;
        height: 500px;
        padding: 0px;
        background-image: url(../imgs/maps.jpg);
        background-position: center;
    }
    #iframe-mapa{
        border: none;
        width: 100%;
        height: 500px;
    }
    #conteudo-lojas{
        padding-bottom: 20px
    }
    .local-loja{
        width: 80%;
        min-height: 120px;
        height: auto;
        overflow: hidden;
        background-color: #ffffff;
        box-sizing: border-box;
        padding-left: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        box-shadow: 2px 2px 5px #00000070;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.439);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.439);

        font-family: cabin;
        font-size: 35px;
        color: rgba(34, 57, 114, 0.99);
    }
    
    .endereco-loja{
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }
    .local-icon{
        display: none;
    }
    /* -----LOJAS----- */



    /* -----EVENTOS----- */
    #conteudo-eventos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .container-evento{
        width: 95%;
        min-height: 295px;
        height: auto;
        overflow: hidden;
        background-color: #efefefc4;
        background-color: hsla(0, 0%, 94%, 0.769);
        background-color: rgba(239, 239, 239, 0.77);
        margin-top: 30px;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px #00000079;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.473);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
        padding-top: 25px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .img-txt-evento{
        width: 100%;
        min-height: 300px;
        height: auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .img-evento{
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-src-evento{
        width: 100%;
        box-shadow: 3px 3px 7px #00000080;
        box-shadow: 3px 3px 7px hsla(0, 0%, 0%, 0.5);
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    }
    .txt-evento{
        width: 90%;
        height: inherit;
        float: left;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .title-evento{
        width: fit-content;
        max-width: 100%;
        height: 200px;
        box-sizing: border-box;
        margin-bottom: 5px;
        display: flex;
        align-items: center;

        font-family: steelfish, 'agency fb';
        font-size: 70px;
        text-align: center;
        color: #03032e;
        border-bottom: solid 5px #e47d1d;
    }
    
    .descricao-evento{
        width: 100%;
        min-height: 200px;
        height: auto;
        padding: 15px;
        box-sizing: border-box;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 10px;

        font-family: cabin;
        font-size: 25px;
        color: #03032e;
        text-align: justify;
    }
    .info-evento{
        width: 100%;
        min-height: 0px;
        height: auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .data-evento, .local-evento,
    .host-evento, .entrada-evento{
        width: 100%;
        min-height: 130px;
        height: auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .img-evento-data, .img-evento-host,
    .img-evento-local, .img-evento-entrada{
        width: 100px;
        height: 100px;
        margin-right: 10px;
        float: left;
    }
    .detalhes-data, .detalhes-local,
    .detalhes-host, .detalhes-entrada{
        width: 70%;
        min-height: 100px;
        height: auto;
        overflow: hidden;
        background-color: #1495ff25;
        background-color: hsla(207, 100%, 54%, 0.145);
        background-color: rgba(20, 149, 255, 0.144);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        padding: 5px;
        box-sizing: border-box;
        flex-wrap: wrap;
        text-overflow: clip;

        color: #040f2e;
        font-family: cabin;
        text-shadow: 1px 1px 2px #0000008c;
        text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.548);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.548);
        text-align: center;
        font-size: 36px;
    }
    /* -----EVENTOS----- */




    /* -----CONTATO----- */
    #conteudo-contato{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #container-contato{
        width: 90%;
        min-height: 950px;
        height: auto;
        overflow: hidden;
        box-shadow: 2px 2px 5px #00000079;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.473);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
        background-color: turquoise;
    }
    #instrucao-contato{
        display: none;
    }
    hr{
        border: solid 1px rgb(46, 105, 29);
    }
    .obrigatorio{
        font-size: 22px;
        color: #df1919;
        font-family: 'agency fb';
        vertical-align: text-top;
    }
    #texts-contato{
        width: 100%;
        min-height: 950px;
        height: auto;
        overflow: hidden;
        background-color: #efefef;
        border-radius: 0px 15px 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 70px;
        padding-bottom: 15px;
        box-sizing: border-box;
        float: left;
    }
    #texts-contato div h3{
        margin-left: 5px;
        margin-bottom: 5px;
        font-weight: bold;
        text-transform: capitalize;
    }
    #texts-contato div label{
        font-size: 45px;
        text-transform: capitalize;
    }
    #contato-nome, #contato-celular,
    #contato-sexo,#contato-telefone,
    #contato-email,#contato-profissao,
    #contato-home-page,#contato-face{
        height: 180px;
        border-radius: 2px;
        box-sizing: border-box;

        font-family: megan;
        font-size: 22px;
        padding-left: 20px;
        padding-top: 10px;
        color: #03032e;
    }
    #contato-nome{
        width: 90%;
        border-left: solid 4px rgb(228, 148, 29);
        border-right: solid 4px rgb(228, 148, 29);
    }
    #contato-celular{
        width: 90%;
        border-left: solid 4px rgb(228, 148, 29);
        border-right: solid 4px rgb(228, 148, 29);
    }
    #contato-sexo{
        width: 90%;
        border-left: solid 4px rgb(228, 148, 29);
        border-right: solid 4px rgb(228, 148, 29);
    }
    #contato-telefone{
        width: 90%;
        border-left: solid 4px rgb(228, 148, 29);
        border-right: solid 4px rgb(228, 148, 29);
    }
    #contato-email{
        width: 90%;
        border-left: solid 4px rgb(228, 148, 29);
        border-right: solid 4px rgb(228, 148, 29);
    }
    #contato-profissao{
        width: 90%;
        border-left: solid 4px rgb(228, 148, 29);
        border-right: solid 4px rgb(228, 148, 29);
    }
    #contato-assunto{
        width: 90%;
        border-left: solid 4px rgb(228, 148, 29);
        border-right: solid 4px rgb(228, 148, 29);
        height: 120px;
        border-radius: 2px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        font-family: megan;
        font-size: 18px;
        color: #03032e;
    }
    #contato-home-page{
        width: 90%;
        border-left: solid 4px rgb(228, 148, 29);
        border-right: solid 4px rgb(228, 148, 29);
    }
    #contato-face{
        width: 90%;
        border-left: solid 4px rgb(228, 148, 29);
        border-right: solid 4px rgb(228, 148, 29);
    }
    #contato-msg{
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        transition: 0.5s ease-out;
        width: 90%;
        height: 400px;
        box-sizing: border-box;
        border-left: solid 4px rgb(228, 148, 29);
        border-right: solid 4px rgb(228, 148, 29);

        font-family: megan;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 10px;
        color: #03032e;
    }
    #txt-nome-contato, #txt-telefone-contato,
    #txt-email-contato, #txt-celular-contato,
    #txt-profissao-contato, #txt-home-page-contato,
    #txt-face-contato{
        height: 80px;
        border-radius: 10px;
        border: none;
        box-shadow: 2px 2px 5px #00000041;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.253);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
        /* padding-left: 15px; */
        text-align: center;
        box-sizing: border-box;

        font-family: roboto;
        font-size: 40px;
    }
    #txt-nome-contato{
        width: 97%;
        text-transform: capitalize;
    }
    #txt-celular-contato{
        width: 97%;
    }
    #rdo-masc, #rdo-femi{
        vertical-align: text-top;
    }
    .lbl-masc, .lbl-femi{
        font-family: megan;
        font-size: 25px;
    }
    #txt-telefone-contato{
        width: 97%;
    }
    #txt-email-contato{
        width: 97%;
    }
    #txt-profissao-contato{
        width: 97%;
        text-transform: capitalize;
    }
    #slc-assunto-contato{
        width: 70%;
        height: 40px;
        border-radius: 10px;
        border: none;
        box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.255);
        padding-left: 5px;

        font-family: roboto;
        font-size: 34px;
    }
    #txt-home-page-contato{
        width: 97%;
    }
    #txt-face-contato{
        width: 97%;
    }
    #txt-msg-contato{
        width: 97%;
        height: 300px;
        border-radius: 10px;
        border: none;
        box-shadow: 2px 2px 5px #00000041;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.253);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
        resize: none;
        padding-left: 5px;
        overflow: auto;

        font-family: roboto;
        font-size: 35px;
    }
    #txt-msg-contato:focus{
        outline: none;
    }
    #txt-msg-contato::-webkit-scrollbar {
        width: 10px;
    }

    #txt-msg-contato::-webkit-scrollbar-track {
        background: #ffb300b4;
        background: hsla(42, 100%, 50%, 0.706);
        background: rgba(255, 179, 0, 0.706);
        border-radius: 0px 15px 15px 0px;
    }

    #txt-msg-contato::-webkit-scrollbar-thumb {
        background: #1d42e6af;
        background: hsla(229, 80%, 51%, 0.686);
        background: rgba(29, 66, 230, 0.686);
        border-radius: 0px 30px 30px 0px;
    }

    #btn-enviar{
        width: 200px;
        height: 70px;
        border-radius: 50px;
        background-color: #45da20;
        box-shadow: 2px 2px 5px #00000041;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.255);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
        border: none;
        -webkit-transition: 0.3s ease-in;
        -moz-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
        cursor: pointer;

        font-family: roboto, arial;
        font-size: 35px;
        color: #efefef;
        font-weight: bold;
    }
    /* -----CONTATO----- */



    /* -----SOBRE----- */
    #conteudo-sobre{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #container-sobre{
        width: 95%;
        min-height: 1050px;
        height: auto;
        overflow: hidden;
        background-color: #efefef;
        box-shadow: 2px 2px 5px #00000065;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.396);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.396);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 50px;
        box-sizing: border-box;
    }
    #img-sobre{
        width: 90%;
        height: 494px;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    #img-src-sobre{
        width: 100%;
        height: 494px;
        border-radius: 15px;
    }
    #txt-sobre{
        width: 100%;
        min-height: 720px;
        height: auto;
        overflow: hidden;
        padding: 70px;

        font-family: cabin;
        font-size: 18px;
        text-align: justify;
        word-wrap: normal;
        color: #03032e;
        text-indent: 1.5em;
    }
    #assinatura{
        text-align: right;
        margin-top: 50px;
        font-style: italic;
    }
    /* -----SOBRE----- */

    /* -----FOOTER----- */
    #aux-footer{
        width: 100%;
        height: 904px;
    }
    footer{
        width: 100%;
        height: 904px;
        bottom: 0;
        position: absolute;

    }
    #footer-head{
        width: 100%;
        height: calc(50px * 3.05);
        background-color: #f3b21a;
    }
    #center-footerHead{
        width: 100%;
        height: calc(50px * 3.05);
        box-sizing: border-box;
        padding-top: 45px;
        background-color: #f3b21a;

        font-size: 35px;
        font-family: dk, liquid;
        text-align: center;
        color: #08083f;
    }
    #footer-linha1{
        width: 100%;
        height: 600px;
        background-color: rgb(23, 33, 59);
        flex-wrap: wrap;
    }
    #center-footerL1{
        width: 85%;
        height: 100%;
        background-color: rgb(23, 33, 59);
    }

    /* -----REDES SOCIAS----- */
    #redes-sociais-mobile{
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    #redes-sociais{
        display: none;
    }
    #redes-sociais-noticias{
        display: none;    }

    #redes-sociais-promocoes{
        display: none;
    }
    
    .divs-redes{
        width: 100px;
        cursor: pointer;
    } 
    /* -----REDES SOCIAS----- */


    #horario, #contatos, #endereco{
        height: 200px;
        box-sizing: border-box;
        float: left;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #horario{
        width: 90%;
    }
    #contatos{
        width: 90%;
    }
    #endereco{
        width: 90%;
    }

    #horario-icon, #contatos-icon, #endereco-icon{
        width: 100px;
        height: 100px;
        margin-right: 20px;
        float: left;
    }
    #horario-text, #contatos-text, #endereco-text{
        width: 500px;
        height: 180px;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    #title-hora, #title-contatos, #title-endereco{
        font-family: megan;
        font-size: 55px;
        padding-left: 10px;
        color: #ffa114;
        font-weight: bold;
    }
    #text-hora, #text-contatos, #text-endereco{
        font-family: megan;
        font-size: 40px;
        padding-left: 10px;
        color: #efefef;
        letter-spacing: 1px;
    }
    #title-contatos{
        width: inherit;
    }

    #footer-linha2{
        width: 100%;
        height: calc(50px * 3.05);
        background-color: rgb(200, 214, 248);
    }
    #center-footerL2{
        width: 100%;
        height: calc(50px * 3.05);
        box-sizing: border-box;
        background-color: rgb(200, 214, 248);
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 25px;
        font-family: cabin;
        text-align: center;
    }
    #caixa-logo-kelvinstrap{
        width: 350px;
        height: calc(40px * 3.05);
        display: flex;
        justify-content: center;
        align-items: center;
        /*margin-left: 4px;*/
    }
    #logo-kelvinstrap{
        width: calc(105px * 3.05);
        height: calc(30px * 3.05);
    }
    /* -----FOOTER----- */
}
