h1, h2, h3, h4, h5, h6, p, div, header, footer, body, nav, figure,
ul, li, img, a, section{
    margin: 0px;
    padding: 0px;
}
/* CLASSSE PADRÃO */
.center{
    margin-left: auto;
    margin-right: auto;
}
a{
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}
.img-div{
    width: inherit;
    height: inherit;
}
/* CLASSSE PADRÃO */
/* https://color.adobe.com/pt/Palette-de-couleurs-2-color-theme-11910469/ */
header{
    width: 100%;
    height: 100px;
    background-color: #000000;
    position: fixed;
}
#cabecalho{
    width: 1300px;
    height: inherit;
    box-sizing: border-box;
}
#cabecalho-esq{
    width: 880px;
    height: inherit;
    /* background-color: yellow; */
    float: left;
    box-sizing: border-box;
    padding-top: 5px;
}
#logo{
    width: 150px;
    height: 90px;
    background-color: blue;
    margin-left: 10px;
    box-sizing: border-box;
    float: left;
}
#menu{ 
    width: 90px;
    height: 50px;
    /* background-color: rgb(153, 135, 135); */
    float: left;
    margin-top: 18px;
    margin-left: 15px;
    cursor: pointer;
    box-sizing: border-box;
    padding-top: 8px;
    transition: 0.2s;

    font-family: existence;
    color: #BF591F;
    font-size: 25px;
}
#seta-menu{
    font-family: arrow;
    color: #BF591F;
}
#caixa-menu{
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 57px;
    /* background-color: darkkhaki; */
    margin-left: -90px;
    margin-top: -49px;
    box-sizing: border-box;
    position: absolute;
    transition: 0.2s;
    display: flex;
    flex-wrap: nowrap;
}
.item-menu{
    width: auto;
    height: inherit;
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 13px;
    /* background-color: #260101; */
    list-style: none;
    display: inline-block;
    transition: 0.2s;
    box-sizing: border-box;
    transition: 0.2s;
    
    color: #F28B30;
    text-align: center;
    word-wrap: normal;
    font-size: 23px;
}
.item-menu:hover{
    /* background-color: #2e0101; */
    background-image: linear-gradient(#260101,#260101,#260101,#260101,#7c4718);
    border-bottom: solid 3px #7c4718;
}
/* #promocoes{
    font-size: 20px;
    letter-spacing: -1px;
} */
#menu:hover > #caixa-menu{
    opacity: 1;
    visibility: visible;
    width: 600px;
    transition: 0.4s;
    margin-left: 90px;
} 
#cabecalho-dir{
    width: 420px;
    height: inherit;
    /* background-color: rgb(212, 0, 255); */
    float: left;
}
.text-login{
    width: 170px;
    height: 100px;
    /* background-color: coral; */
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
#usuario, #senha{
    font-size: 15px;
    font-family: existence;
    margin-bottom: 15px;
    margin-left: 5px;

    color: #F29F05;
}
#txt-usuario, #txt-senha{
    width: 140px;
    height: 25px;
    border-radius: 70px;
    background-color: #3b0202;
    border: none;
    margin-left: 5px;
    
    color: #f8e8d5;
    font-size: 17px;
    transition: 0.4s;
}
#txt-usuario:hover, #txt-senha:hover{
    background-color: #550303;
    transition: 0.4s;
}
#btn{
    width: 80px;
    height: 30px;
    background-color: wheat;
    margin-top: 41px;
    box-sizing: border-box;
    padding-left: 10px;
    float: left;
}
#btn-login{
    width: 60px;
    height: inherit;
    background-color: saddlebrown;
    border: none;
}
#aux{
    width: 100%;
    height: 100px;
}
#tudo{
    width: 1300px;
    min-height: 1500px;
    height: auto;
    overflow: hidden;
    background-color: #a523af;
}
#slider{
    width: inherit;
    height: 500px;
    background-color: aqua;
    padding: 0px;
}
#conteudo{
    width: 1300px;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    background-color: rgb(189, 199, 47);
}
#redes-sociais{
    width: 100px;
    height: 330px;
    background-color: saddlebrown;
    position: fixed;
    margin-top: -300px;
    margin-left: 1325px;
}
.divs-redes{
    width: inherit;
    height: 100px;
    background-color: slategrey;
    margin-bottom: 10px;
}
#menu-esq{
    width: 200px;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    background-color: black;
    float: left;
}
.item-menu-esq{
    width: inherit;
    height: 80px;
    background-color: darkcyan;
    box-sizing: border-box;
    border: solid 2px #ffffff;
}
#produtos{
    width: 1100px;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    background-color: rgb(56, 128, 89);
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
.produto{
    width: 350px;
    height: 350px;
    background-color: cornflowerblue;
    box-sizing: border-box;
    padding-top: 10px;
    margin: 5px;
    float: left;
    
    font-family: Arial, Helvetica, sans-serif;
}
.produto-img{
    width: 150px;
    height: 150px;
    background-color: whitesmoke;
    margin-bottom: 10px;
}
.titles-nome, .titles-descricao, .titles-preco{
    width: 110px;
    float: left;
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;

    font-size: 19px;
}
.titles-nome{
    height: 30px;
    background-color: darkkhaki;
    padding-top: 4px;
    clear: both;
}
.titles-descricao{
    height: 80px;
    background-color: rgb(87, 60, 207);
    padding-top: 30px;
    clear: both;
}
.titles-preco{
    height: 30px;
    background-color: cyan;
    padding-top: 4px;
    clear: both;
}

.nome-texts, .descricao-texts, .preco-texts{
    width: 240px;
    float: left;
    margin-bottom: 5px;
    box-sizing: border-box;

    font-size: 18px;
}
.nome-texts{
    height: 30px;
    background-color: rgb(212, 66, 21);
    padding-top: 5px;
    padding-left: 4px;
}
.descricao-texts{
    height: 80px;
    /* overflow: auto; */
    background-color: rgb(212, 21, 164);
    font-family: cabin;
    text-align: justify;
    line-height: 1.15;
    padding-right: 5px;
}
/*
.descricao-texts::-webkit-scrollbar {
  width: 5px;
}

.descricao-texts::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.descricao-texts::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover *
.descricao-texts::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
*/
.preco-texts{
    height: 30px;
    background-color: sienna;
    padding-top: 5px;
    padding-left: 4px;
}
.detalhes{
    margin-left: 250px;
    color: blue;
    text-decoration: underline;
}
