
@media screen and (min-width: 1000px){    /* -----HEADER----- */
    #cabecalho-desktop{
        width: 100%;
        height: 90px;
        background-color: hsla(222, 45%, 16%, 0.957);
        background-color: #16213bf4;
        background-color: rgba(22, 33, 59, 0.99);
        position: fixed;
        z-index: 998;
    }
    #header-mobile{
        display: none;
    }
    #cabecalho{
        width: 1300px;
        height: inherit;
        box-sizing: border-box;
    }
    #cabecalho-esq{
        width: 880px;
        height: inherit;
        float: left;
        box-sizing: border-box;
        padding-top: 5px;
    }
    #logo{
        width: 150px;
        height: 80px;
        margin-left: 10px;
        box-sizing: border-box;
        float: left;
        outline: none;
    }
    #menu{
        width: 100px ;
        height: 50px;
        float: left;
        margin-top: 18px;
        margin-left: 15px;
        cursor: pointer;
        box-sizing: border-box;
        padding-top: 6px;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
        outline: none;

        font-family: existence;
        color: rgb(202, 133, 30);
        font-size: 25px;
        font-weight: 900;
    }
    #seta-menu{
        font-family: arrow;
    }
    #caixa-menu{
        opacity: 0;
        visibility: hidden;
        width: 0px;
        height: 57px;
        margin-left: -30px;
        margin-top: -49px;
        box-sizing: border-box;
        position: absolute;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
        display: flex;
        flex-wrap: nowrap;
    }
    .item-menu{
        width: auto;
        height: 91px;
        margin-left: 10px;
        margin-top: -20px;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 30px;
        list-style: none;
        display: inline-block;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
        box-sizing: border-box;
        font-weight: bold;

        color: rgb(255, 157, 0);
        text-align: center;
        word-wrap: normal;
        font-size: 25px;
    }
    .item-menu:hover{
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.25s;
        background-image: linear-gradient(#f1c8ac38,#00000c00,#eca32f29);
        background-image: linear-gradient(hsla(24, 71%, 81%, 0.219),hsla(240, 100%, 2%, 0),hsla(37, 83%, 55%, 0.16));
        background-image: linear-gradient(rgba(241, 200, 172, 0.219),rgba(0, 0, 12, 0),rgba(236, 163, 47, 0.16));
        color: #Fededd;
    }
    #menu:hover{
        color: #00000000;
        color: hsla(0, 0%, 0%, 0);
        color: rgba(0, 0, 0, 0);
    }
    #menu:hover > #caixa-menu{
        opacity: 1;
        visibility: visible;
        width: auto;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.4s;
        margin-left: 0px;
    }
    #cabecalho-dir{
        width: 420px;
        height: inherit;
        float: left;
        z-index: 2;
    }
    .text-login{
        width: 168px;
        height: 90px;
        float: left;
        padding-left: 5px;
        padding-top: 10px;
        box-sizing: border-box;
        margin-right: 1px;
    }
    #usuario, #senha{
        font-size: 22px;
        font-family: megan;
        margin-bottom: 10px;
        margin-left: 5px;

        color: #ffa114;
    }
    #txt-usuario, #txt-senha{
        width: 160px;
        height: 30px;
        border-radius: 15px;
        background-color: #ffffff;
        border: none;
        text-align: center;

        color: #470505ed;
        color: hsla(0, 87%, 15%, 0.931);
        color: rgba(71, 5, 5, 0.931);
        font-size: 17px;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
    }
    #txt-usuario:hover, #txt-senha:hover{
        background-color: #e9e3d6;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        transition: 0.4s;
    }
    #btn{
        width: 80px;
        height: 32px;
        margin-top: 45px;
        box-sizing: border-box;
        padding-left: 5px;
        float: left;
    }
    #btn-login{
        width: 70px;
        height: inherit;
        background-color: rgb(177, 135, 20);
        border: none;
        border-radius: 15px;
        cursor: pointer;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;

        color: #D8FFE2;
        font-size: 20px;
        font-family: megan;
    }
    #btn-login:hover{
        background-color: rgb(133, 101, 15);
        color: rgb(237, 250, 241);
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
    }
    #btn-login:active{
        background-color: #D8FFE2;
        color: rgb(177, 135, 20);
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
    }
    #aux-desktop{
        width: 100%;
        height: 90px;
    }
    #aux-mobile{
        display: none;
    }
    /* -----HEADER----- */





    /* -----GERAL----- */
    html, body{
        height: 100%;
    }

    #pagina{
        min-height: 100%;
        position: relative;
    }

    * html #pagina{
        height: 100%;
    }
    #tudo{
        width: 1300px;
        min-height: 500px;
        height: auto;
        overflow: hidden;
    }
    #titulo-pagina{
        width: 1300px;
        height: 120px;
        background-color: #17213be6;
        background-color: hsla(223, 44%, 16%, 0.9);
        background-color: rgb(23, 33, 59, 0.9);
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 45px;
        font-family: 'agency fb';
        color: #f3b21a;
    }
    #conteudo,
    #conteudo-lojas,
    #conteudo-eventos,
    #conteudo-contato,
    #conteudo-sobre{
        width: 1300px;
        min-height: 700px;
        height: auto;
        overflow: hidden;
        background-color: #f5ef9fcc;
        background-color: hsla(56, 81%, 79%, 0.8);
        background-color: rgb(245, 239, 159, 0.8);
        box-sizing: border-box;
        border-top: solid 3px #090a4d;
    }
    /* -----GERAL----- */





    /* -----REDES SOCIAS----- */
    #redes-sociais{
        width: 70px;
        height: 280px;
        position: fixed;
        margin-top: -300px;
        margin-left: 1350px;
        z-index: 998;
    }
    #redes-sociais-noticias{
        width: 70px;
        height: 280px;
        position: fixed;
        margin-top: 120px;
        margin-left: 1350px;
        z-index: 998;
    }
    #redes-sociais-promocoes{
        width: 70px;
        height: 280px;
        position: fixed;
        margin-top: 120px;
        margin-left: 1350px;
        z-index: 998;
    }
    .divs-redes{
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    #redes-sociais-mobile{
        display: none;
    }
    
    /* -----REDES SOCIAS----- */






    /* -----HOME----- */
    #slider{
        width: 1300px;
        height: 602px;
        padding: 0px;
    }
    #imagem-home-mobile{
        display: none;
    }
    #abrir-menu{
        display: none;
    }
    .icon-filter{
        display: none;
    }
    #menu-esq{
        width: 200px;
        min-height: 700px;
        height: auto;
        overflow: hidden;
        float: left;
        /* display: flex; */
        /* flex-wrap: wrap; */
    }
    .item-menu-esq-clean{
        width: inherit;
        min-height: 50px;
        height: auto;
        overflow: hidden;
        background-color: #03032ee7;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        transition: 0.25s;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        cursor: pointer;
        padding-left: 10px;

        font-family: 'agency fb light';
        font-size: 23px;
        color: #fcfcfc;
        letter-spacing: 1px;

        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .item-menu-esq-clean:hover{
        background-color: #0a0a55e7;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;
    }
    .icon-clean-categories{
        width: 30px;
        height: 30px;
    }

    .item-menu-esq{
        width: inherit;
        min-height: 80px;
        height: auto;
        overflow: hidden;
        background-color: #ffffff93;
        background-color: hsla(0, 0%, 100%, 0.575);
        background-color: rgba(255, 255, 255, 0.575);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        transition: 0.25s;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        cursor: pointer;

        font-family: 'agency fb';
        font-size: 25px;
        color: #e47d1d;
        letter-spacing: 1px;

        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .item-menu-esq:hover{
        background-color: rgb(253, 238, 238);
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;
    }
    .icon-subcategorias{
        width: 50px;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding-top: 5px;
        cursor: pointer;
    }
    .icon-subcategorias p{
        margin-top: 10px;

    }
    .icon-show-categories{
        width: 20px;
        height: 20px;
    }
    .item-menu-esq h3{
        width: 67%;
        margin-left: 15px;
        margin-top: 15px;
    }

    .caixa-subitem-menu-esq{
        width: 200px;
        min-height: 0px;
        max-height: 400px;
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .subitem-menu-esq{
        width: 200px;
        height: 50px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        transition: 0.25s;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        cursor: pointer;
        background-color: rgba(246, 128, 30, 0.212);
        /* display: none; */

        font-family: 'agency fb light';
        font-size: 19px;
        color: #090a4d;
    }
    .subitem-menu-esq h3{
        width: 100%;
    }
    .mostrar{
        opacity: 1;
        visibility: visible;
        min-height: 80px;
        transition: .2s ease-in-out;
    }
    .esconder{
        opacity: 0;
        visibility: hidden;
        height: 0px;
        transition: .2s ease-in-out;
    }



    #produtos{
        width: 1100px;
        min-height: inherit;
        height: auto;
        overflow: hidden;
        float: left;
        box-sizing: border-box;
        padding: 8px;
        box-sizing: border-box;
        border-left: solid 3px #090a4d;
    }
    .produto{
        width: 350px;
        height: 460px;
        background-color: #fffffffa;
        background-color: hsla(0, 0%, 100%, 0.98);
        background-color: rgba(255, 255, 255, 0.98);
        box-sizing: border-box;
        padding-top: 10px;
        margin: 5px;
        float: left;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #0000007a;
        box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.478);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;

        font-family: Arial, Helvetica, sans-serif;
    }
    .produto:hover{
        transform: scale(1.03);
        -webkit-transform: scale(1.03);
        background-color: #faf7edde;
        background-color: hsla(46, 57%, 95%, 0.871);
        background-color: rgba(250, 247, 237, 0.87);
        box-shadow: 0px 0px 20px #0000007a;
        box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.479);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;
    }
    .produto-img{
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
        border-radius: 15px;
        box-shadow: 0px 0px 10px #0000007a;
        box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.479);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;
        cursor: pointer;
    }
    .produto-img:hover{
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;
    }


    .nome-texts, .descricao-texts, .preco-texts{
        width: 350px;
        float: left;
        margin-bottom: 5px;
        box-sizing: border-box;
        cursor: pointer;

        font-family: 'bebas kai';
        text-align: center;
    }
    .nome-texts{
        height: 50px;
        padding-top: 2px;
        padding-left: 4px;
        background-color: #061a5dce;
        background-color: hsla(226, 88%, 19%, 0.808);
        background-color: rgba(6, 26, 93, 0.808);
        border-top: solid 2px #ff9736fa;
        border-top: solid 2px hsla(29, 100%, 61%, 0.98);
        border-top: solid 2px rgba(255, 151, 54, 0.98);
        border-bottom: solid 2px #ff9736fa;
        border-bottom: solid 2px hsla(29, 100%, 61%, 0.98);
        border-bottom: solid 2px rgba(255, 151, 54, 0.98);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;

        font-size: 18px;

        color: #ecf2f7;
        text-transform: capitalize;
    }
    .descricao-texts{
        height: 90px;
        text-align: justify;
        line-height: 1.15;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        color: #5f120b;

        font-size: 17px;
    }
    .preco-texts{
        height: 55px;
        padding-left: 4px;

        color: #f71313;
        font-size: 45px;
        font-style: italic;
    }
    .preco-texts p{
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
    }
    .produto:hover > .preco-texts p{
        color: rgb(13, 153, 13);
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
    }
    .detalhes{
        margin-left: 275px;
        color: rgb(70, 43, 192);
        text-decoration: underline;
        font-size: 15px;
    }

    /* >>modal<< */
    #container-index{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 999;
        display: none;
    }
    #modal-index{
        width: 910px;
        height: 650px;
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: rgb(255, 255, 255);
    }
    #fechar-modal-index{
        width: 50px;
        height: 50px;
        position: relative;
        margin-left: 860px;
        margin-top: -45px;
        background-color: tomato;
    }    
    .icon-close-index{
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    #container-modal-produto{
        width: inherit;
        height: 550px;
        overflow: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        /* background-color: rgba(24, 18, 18, 0.041); */
        margin-top: -85px;
    }
    #titulo-produto{
        width: 900px;
        height: 60px;
        background-color: #03032e;

        font-family: "agency fb";
        color: #ffa114;
        font-size: 25px;
        text-align: center;
    }
    #conteudo-view-produto{
        width: 750px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: tomato; */
    }
    #img-view-produto{
        width: 350px;
        height: 400px;
        /* background-color: rgb(255, 0, 0); */
        display: flex;
        align-items: center;
        /* justify-content: center; */
        margin-right: 10px;
    }
    #src-view-produto{
        max-width: 350px;
        max-height: 350px;
    }
    #info-view-produto{
        width: 350px;
        height: 400px;
        /* background-color: salmon; */
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;

        font-family: 'agency fb';
    }
    #preco-view-produto,
    #descricao-view-produto,
    #categoria-view-produto,
    #subcategoria-view-produto{
        margin-bottom: 15px;
        box-sizing: border-box;
    }
    #preco-view-produto{
        width: inherit;
        height: 70px;
        /* background-color: rosybrown; */
        display: flex;
        align-items: center;
        justify-content: flex-start;

        font-size: 40px;
        font-style: italic;
        font-family: cabin;
        color: #2fa717;
        font-family: 'agency fb';
    }
    .cifrao{
        font-size: 30px;
        vertical-align: top;
        font-family: 'agency fb light';
    }
    #descricao-view-produto{
        width: inherit;
        min-height: 10px;
        max-height: 125px;
        /* background-color: rgb(188, 174, 143); */
        line-height: 1;
        border-bottom: solid 3px #ffa114;
        padding-bottom: 5px;

        text-align: justify;
        font-size: 32px;
        font-family: 'agency fb light';
    }
    #descricao-view-produto p::first-letter{
        margin-left: 10px;
    }

    #categoria-view-produto{
        width: inherit;
        height: 40px;
        /* background-color: rgb(49, 129, 204); */
        
        font-size: 27px;
        font-family: 'agency fb';
        color: #08083f;
    }
    #subcategoria-view-produto{
        width: inherit;
        height: 40px;
        /* background-color: rgb(155, 64, 64); */
        box-sizing: border-box;
        border-bottom: solid 1px #ffa114;
        
        font-size: 27px;
        padding-left: 10px;
        font-family: 'agency fb';
        color: #0f0f61;
    }
    #btns-compra{
        width: inherit;
        height: 50px;
        /* background-color: #ec8c31; */
        display: flex;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        padding-right: 10px
    }
    #add-carrinho, #comprar{
        height: 45px;
        border: none;
        cursor: pointer;

        font-family: 'agency fb';
        font-size: 25px;
        color: #ffffff;
    }
    #add-carrinho{
        width: 85px;
        background-color: rgb(7, 7, 56);
        transition: 0.2s ease-out;
        border-radius: 5px;
        margin-right: 15px;
    }
    #add-carrinho:hover{
        background-color: rgb(51, 51, 136);
        transition: 0.2s ease-out
    }
    #img-carrinho{
        width: 30px;
        height: 30px;
    }
    #comprar{
        width: 85px;
        background-color: rgb(37, 202, 15);
        transition: 0.2s ease-out;
        border-radius: 5px;
    }
    #comprar:hover{
        background-color: rgb(20, 136, 4);
        transition: 0.2s ease-out;
    }
    #img-comprar{
        width: 30px;
        height: 30px;
    }

    #promocao-view-produto{
        width: 800px;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        box-sizing: border-box;
        padding: 15px;

        font-family: 'agency fb';
        font-size: 35px;
        color: #bb2424;
        word-wrap: normal;
        text-align: center;
    }
    /* >>modal<< */
    /* -----HOME----- */




    /* -----NOTÍCIAS----- */
    #noticias-principais{
        width: 1300px;
        height: 700px;
        margin-bottom: 20px;
    }
    #principais-esq, #principais-dir{
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        float: left;
    }
    #principais-esq{
        width: 690px;
        margin-right: 10px;
    }
    #principais-dir{
        width: 600px;
    }

    #conteudo-principal1,
    #conteudo-principal2,
    #conteudo-principal3{
        background-position: center;
    }

    #noticia-principal1{
        height: inherit;
        width: 690px;
    }
    #conteudo-principal1{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        background-image: url(../imgs/d.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #noticia-principal1:hover > #conteudo-principal1,
    #noticia-principal1:focus > #conteudo-principal1{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
    }
    #texto-principal1{
        width: 700px;
        height: 220px;
        background-color: #08083f7a;
        background-color: hsla(240, 77%, 14%, 0.478);
        background-color: rgba(8, 8, 63, 0.478);
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        box-sizing: border-box;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        cursor: pointer;

        text-shadow: 1px 1px 2px #000000ee;
        text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.933);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.932);
    }
    #conteudo-principal1:hover > #texto-principal1{
        background-color: #08083fc7;
        background-color: hsla(240, 77%, 14%, 0.78);
        background-color: rgba(8, 8, 63, 0.78);
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
    }
    #texto-principal1 h2{
        font-family: 'agency fb';
        font-weight: bold;
        font-size: 70px;
        color: #f3ac08;
        margin-bottom: 10px;
    }
    #texto-principal1 p{
        font-family: 'roboto condensed', arial;
        color: #ffffff;
        font-size: 25px;
    }


    #noticia-principal2{
        width: inherit;
        height: 345px;
        margin-bottom: 6px;
        overflow: hidden;
    }
    #conteudo-principal2{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        background-image: url(../imgs/320623.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #noticia-principal2:hover > #conteudo-principal2,
    #noticia-principal2:focus > #conteudo-principal2{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
    }
    #texto-principal2{
        width: 650px;
        height: 125px;
        background-color: #08083f7a;
        background-color: hsla(240, 77%, 14%, 0.478);
        background-color: rgba(8, 8, 63, 0.478);
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        cursor: pointer;

        text-shadow: 1px 1px 2px #000000ee;
        text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.932);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.932);
    }
    #conteudo-principal2:hover > #texto-principal2{
        background-color: #08083fc7;
        background-color: hsla(240, 77%, 14%, 0.78);
        background-color: rgba(8, 8, 63, 0.78);
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    #texto-principal2 h2{
        font-family:'agency fb';
        font-weight: bold;
        font-size: 40px;
        color: #f3ac08;
        margin-bottom: 5px;
    }
    #texto-principal2 p{
        font-family: 'roboto condensed', arial;
        color: #ffffff;
        font-size: 22px;
    }


    #noticia-principal3{
        width: inherit;
        height: 345px;
        overflow: hidden;
    }
    #conteudo-principal3{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        background-image: url(../imgs/485320.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #noticia-principal3:hover > #conteudo-principal3,
    #noticia-principal3:focus > #conteudo-principal3{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
    }
    #texto-principal3{
        width: 650px;
        height: 125px;
        background-color: #08083f7a;
        background-color: hsla(240, 77%, 14%, 0.478);
        background-color: rgba(8, 8, 63, 0.478);
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        cursor: pointer;

        text-shadow: 1px 1px 2px #000000ee;
        text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.932);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.932);
    }
    #conteudo-principal3:hover > #texto-principal3{
        background-color: #08083fc7;
        background-color: hsla(240, 77%, 14%, 0.78);
        background-color: rgba(8, 8, 63, 0.78);
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    #texto-principal3 h2{
        font-family:'agency fb';
        font-weight: bold;
        font-size: 40px;
        color: #f3ac08;
        margin-bottom: 5px;
    }
    #texto-principal3 p{
        font-family: 'roboto condensed', arial;
        color: #ffffff;
        font-size: 22px;
    }


    #noticias-esq{
        width: 970px;
        min-height: inherit;
        height: auto;
        overflow: hidden;
        float: left;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 30px;
        box-sizing: border-box;
    }
    .container-noticias{
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
        width: 940px;
        height: 300px;
        background-color: #f4f4fab2;
        background-color: hsla(240, 37%, 97%, 0.698);
        background-color: rgba(244, 244, 250, 0.698);
        margin-top: 30px;
        box-shadow: 3px 3px 5px #00000073;
        box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.452);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.452);
    }
    .container-noticias:hover{
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
        background-color: #ffffff;
        background-color: hsl(0, 0%, 100%);
        background-color: rgba(255, 255, 255);
    }
    .img-noticias{
        width: 330px;
        height: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        background-position: center;
    }
    .txt-noticias{
        width: 610px;
        height: inherit;
        border-radius: 0px 15px 15px 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding-top: 5px;
        float: left;
    }
    .noticias-autor-data{
        width: 550px;
        height: 40px;
        display: flex;
        align-items: center;
        border-bottom: solid 3px #ff6600;

        font-family: existence;
        font-size: 18px;
        text-align: left;
        color: #ec8c31;
        text-shadow: 1px 1px 0px #00000080;
        text-shadow: 1px 1px 0px hsla(0, 0%, 0%, 0.5);
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    }
    .titulo-noticias{
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
        width: 550px;
        height: 160px;
        display: flex;
        align-items: center;
        line-height: 1;
        box-sizing: border-box;
        overflow: hidden;
        text-shadow: 1px 1px 2px #00000080;
        text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.5);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

        font-size: 30px;
        color: #03062a;
        font-family: 'agency fb';
        letter-spacing: 1px;
    }
    .titulo-noticias:hover{
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
        color: #081064;
    }
    .resumo-noticias{
        width: 550px;
        height: 60px;
        box-sizing: border-box;
        padding-right: 10px;
        font-family: cabin;
        font-size: 20px;
        text-align: left;
        word-wrap: normal;
        color: #03032e;
    }

    #noticias-dir{
        width: 330px;
        min-height: inherit;
        height: auto;
        overflow: hidden;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
    #topo-recentes{
        width: 215px;
        height: 80px;
        background-color: #03032e;
        margin-top: 25px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: cabin;
        color: #f3b21a;
        font-size: 18px;
    }
    .mais-recentes{
        width: 315px;
        min-height: 100px;
        height: auto;
        overflow: hidden;
        margin-top: 20px;
        background-color: #f3b21a;
        border-radius: 10px;
        padding-top: 15px;
        padding-left: 40px;
        padding-right: 5px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        box-shadow: 3px 3px 5px #00000073;
        box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.452);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.452);
        flex-wrap: wrap;

        font-family: cabin;
        color: #03032e;
        font-size: 20px;
    }
    .item-recentes{
        list-style: radio;
        margin-bottom: 20px;
        vertical-align: -webkit-baseline-middle;
    }
    .item-recentes:hover{
        text-decoration: underline;
    }
.icon-close{
    width: 70px;
    height: 70px;
    cursor: pointer;
}
    /* -----NOTÍCIAS----- */




    /* -----PROMOÇÕES----- */
    #promocoes-esq{
        width: 200px;
        min-height: inherit;
        height: auto;
        overflow: hidden;
        float: left;
    }
    #promocoes-dir{
        width: 1100px;
        min-height: inherit;
        height: auto;
        overflow: hidden;
        border-left: solid 3px #17213bfc;
        border-left: solid 3px hsla(223, 44%, 16%, 0.99);
        border-left: solid 3px rgb(23, 33, 59, 0.99);
        box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
        float: left;
    }



    #menu-promocoes{
        width: inherit;
        min-height: 700px;
        height: auto;
        overflow: hidden;
        float: left;
    }
    .item-menu-promocoes h3 {
        margin-bottom: 10px;
    }
    .item-menu-promocoes{
        transition: 0.25s;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        width: inherit;
        min-height: 80px;
        height: auto;
        overflow: hidden;
        background-color: #ffffff93;
        background-color: #ffffff93;
        background-color: rgba(255, 255, 255, 0.575);
        box-sizing: border-box;
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 10px;

        font-family: cabin;
        font-size: 20px;
        color: #e47d1d;
    }
    .item-menu-promocoes:hover{
        transition: 0.25s;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        background-color: rgb(255, 255, 255);
    }
    .item-submenu-bicicletas,
    .item-submenu-acessorios{
        font-size: 20px;
        margin-left: 50px;
        color: #03032e;
    }
    .item-submenu-bicicletas:hover,
    .item-submenu-acessorios:hover{
        text-decoration: underline;
    }



    .promocoes{
        width: 350px;
        height: 440px;
        background-color: #fffffffa;
        background-color: hsla(0, 0%, 100%, 0.98);
        background-color: rgba(255, 255, 255, 0.98);
        box-sizing: border-box;
        padding-top: 10px;
        margin: 5px;
        float: left;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #0000007a;
        box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.479);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .promocoes:hover{
        transform: scale(1.03);
        -webkit-transform: scale(1.03);
        background-color: #f8f3edd9;
        background-color: hsla(33, 44%, 95%, 0.851);
        background-color: rgba(248, 243, 237, 0.85);
        box-shadow: 0px 0px 20px #0000007a;
        box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.479);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;
    }
    .promocoes-img{
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
        border-radius: 15px;
        box-shadow: 0px 0px 10px #0000007a;
        box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.479);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;
        cursor: pointer;
    }
    .promocoes-img:hover{
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;
    }
    .promocoes-nome, .promocoes-inicial,
    .promocoes-com-desconto,
    .tipo-pagamento{
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;

        font-family: 'bebas kai';
    }
    .promocoes-nome{
        height: 50px;
        padding-top: 2px;
        padding-left: 4px;
        background-color: #061a5dce;
        background-color: hsla(226, 88%, 19%, 0.808);
        background-color: rgba(6, 26, 93, 0.808);
        border-top: solid 2px #ff9736fa;
        border-top: solid 2px hsla(29, 100%, 61%, 0.98);
        border-top: solid 2px rgba(255, 151, 54, 0.98);
        border-bottom: solid 2px #ff9736fa;
        border-bottom: solid 2px hsla(29, 100%, 61%, 0.98);
        border-bottom: solid 2px rgba(255, 151, 54, 0.98);

        font-size: 18px;
        color: #efefef;
        text-transform: capitalize;
    }
    .promocoes-inicial{
        height: 18px;
        color: #3b1410;
        font-size: 18px;
        text-decoration: line-through;
    }
    .por{
        font-size: 25px; 
        vertical-align:middle;
    }
    .porcentagem-desconto{
        width: 316px;
        height: 20px;
        margin-top: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        font-size: 18px;
        color: #3b9c0e;
        font-family: 'bebas kai';
        font-style: italic;
    }
    .promocoes-com-desconto{
        height: 55px;
        margin-top: -12px;

        color: #f71313;
        font-size: 40px;
    }
    .promocoes-com-desconto p{
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
    }
    .promocoes:hover > .promocoes-com-desconto p{
        color: rgb(13, 153, 13);
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
    }
    .porcentagem-desconto h4{
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
    }
    .promocoes:hover > .porcentagem-desconto h4{
        color: rgb(245, 70, 27);
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
    }
    .tipo-pagamento{
        width: 316px;
        height: 40px;
        margin-top: -12px;
        text-align: center;

        font-family: roboto, 'arial';
        color: #1b1157;
        font-size: 15px;
    }
    .caixa-btn-comprar{
        width: 346px;
        height: 45px;
        background-color: #f8f3edd9;
        background-color: hsla(33, 44%, 95%, 0.85);
        background-color: rgba(248, 243, 237, 0.85);
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 999;
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
        left: 0;
        top: 390px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 5px 5px;
    }
    .btn-comprar{
        width: 135px;
        height: 40px;
        background-color: #f58223b9;
        background-color: hsla(27, 91%, 55%, 0.725);
        background-color: rgba(244, 129, 35, 0.725);
        box-sizing: border-box;
        padding-top: 3px;
        box-shadow: 2px 2px 5px #00000055;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.334);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.334);
        border: none;
        cursor: pointer;
        transform: skewX(-10deg);
        -webkit-transform: skewX(-10deg);

        font-family: cabin;
        font-weight: bold;
        text-align: center;
        font-size: 22px;
        color: #1e2462;
    }
    .btn-comprar:hover{
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
    }
    .promocoes:hover > .caixa-btn-comprar{
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
        opacity: 1;
        visibility: visible;
    }
    /* -----PROMOÇÕES----- */


    /* -----LOJAS----- */
    #map{
        width: inherit;
        height: 500px;
        padding: 0px;
        background-image: url(../imgs/maps.jpg);
    }
    #iframe-mapa{
        border: none;
        width: 1300px;
        height: 500px;
    }
    #conteudo-lojas{
        padding-bottom: 20px
    }
    .local-loja{
        -webkit-transition: 0.4s ease-out;
        -moz-transition: 0.4s ease-out;
        transition: 0.4s ease-out;
        width: 1200px;
        min-height: 60px;
        height: auto;
        overflow: hidden;
        background-color: #ffffff;
        box-sizing: border-box;
        padding-left: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        box-shadow: 2px 2px 5px #00000070;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.439);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.439);

        font-family: cabin;
        font-size: 22px;
        color: rgba(34, 57, 114, 0.99);
    }
    .local-loja:hover{
        text-decoration: underline;
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
        background-color: rgb(255, 242, 227);
        box-shadow: 5px 5px 15px #00000059;
        box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.35);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
    }
    .endereco-loja{
        width: 1100px;
        height: fit-content;
        overflow: hidden;
    }
    .local-icon{
        width: 50px;
        height: 50px;
        float: right;
    }
    .local-img{
        width: 50px;
        height: 50px;
    }
    /* -----LOJAS----- */



    /* -----EVENTOS----- */
    #conteudo-eventos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .container-evento{
        -webkit-transition: 0.2s ease;
        -moz-transition: 0.2s ease;
        transition: 0.2s ease;
        width: 1200px;
        min-height: 295px;
        height: auto;
        overflow: hidden;
        background-color: #efefefc4;
        background-color: hsla(0, 0%, 94%, 0.769);
        background-color: rgba(239, 239, 239, 0.77);
        margin-top: 30px;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px #00000079;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.473);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
        padding-top: 25px;
        padding-left: 25px;
    }
    .container-evento:hover{
        background-color: #ffffff;
        box-shadow: 5px 5px 15px #00000079;
        box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.473);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.473);
        -webkit-transition: 0.4s ease;
        -moz-transition: 0.4s ease;
        transition: 0.4s ease;
    }
    .img-txt-evento{
        width: 1150px;
        height: 300px;
    }
    .img-evento{
        width: 430px;
        height: inherit;
        float: left;
    }
    .img-src-evento{
        max-width: 430px;
        max-height: 300px;
        box-shadow: 3px 3px 7px #00000080;
        box-shadow: 3px 3px 7px hsla(0, 0%, 0%, 0.5);
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    }
    .txt-evento{
        width: 700px;
        height: inherit;
        margin-left: 20px;
        float: left;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .title-evento{
        -webkit-transition: 0.2s ease;
        -moz-transition: 0.2s ease;
        transition: 0.2s ease;
        width: fit-content;
        max-width: inherit;
        height: 100px;
        box-sizing: border-box;
        margin-bottom: 5px;
        display: flex;
        align-items: center;

        font-family: steelfish, 'agency fb';
        font-size: 50px;
        text-align: center;
        color: #03032e;
        border-bottom: solid 5px #e47d1d;
    }
    .title-evento:hover{
        -webkit-transition: 0.2s ease;
        -moz-transition: 0.2s ease;
        transition: 0.2s ease;
        color: #09095c;
        border-bottom: solid 5px #f7a559;
    }
    .descricao-evento{
        width: 1150px;
        min-height: 0px;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 10px;

        font-family: cabin;
        font-size: 25px;
        color: #03032e;
        text-align: justify;
        word-wrap: normal;
        text-overflow: ellipsis '...';
    }
    .info-evento{
        width: 700px;
        height: 195px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .data-evento, .local-evento,
    .host-evento, .entrada-evento{
        min-width: 350px;
        width: auto;
        height: 90px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .img-evento-data, .img-evento-host, .img-evento-local{
        width: 60px;
        height: 60px;
        float: left;
    }
    .img-evento-entrada{
        width: 70px;
        height: 70px;
    }
    .detalhes-data, .detalhes-local,
    .detalhes-host, .detalhes-entrada{
        width: 260px;
        height: 90px;
        background-color: #1495ff25;
        background-color: hsla(207, 100%, 54%, 0.145);
        background-color: rgba(20, 149, 255, 0.144);
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        padding: 5px;
        box-sizing: border-box;
        flex-wrap: wrap;
        text-overflow: clip;

        color: #040f2e;
        font-family: cabin;
        text-shadow: 1px 1px 2px #0000008c;
        text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.548);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.548);
        text-align: center;
        font-size: 20px;
    }
    .detalhes-entrada p a:hover{
        color: #0d0daa;
        text-decoration: underline;
    }
    .data-evento:hover > .detalhes-data, .local-evento:hover > .detalhes-local,
    .host-evento:hover > .detalhes-host, .entrada-evento:hover > .detalhes-entrada{
        background-color: #53a5e95d;
        background-color: hsla(207, 77%, 62%, 0.365);
        background-color: rgba(83, 165, 233, 0.365);
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        transition: 0.5s ease;
        overflow: hidden;
    }
    /* -----EVENTOS----- */




    /* -----CONTATO----- */
    #conteudo-contato{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #container-contato{
        width: 900px;
        height: 950px;
        box-shadow: 2px 2px 5px #00000079;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.473);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
    }
    #instrucao-contato{
        width: 300px;
        height: inherit;
        background-color: #b1d8f8c0;
        background-color: hsla(207, 84%, 83%, 0.753);
        background-color: rgba(177, 216, 248, 0.753);
        float: left;
        box-sizing: border-box;
        padding-top: 120px;
        padding-left: 60px;
        padding-right: 5px;

        font-family: 'bebas neue';
        font-weight: bold;
        font-size: 30px;
        text-align: right;
        color: #12095a;
        text-shadow: 2px 2px 5px #00000041;
        text-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.255);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
    }
    hr{
        border: solid 1px rgb(46, 105, 29);
    }
    .obrigatorio{
        font-size: 22px;
        color: #df1919;
        font-family: 'agency fb';
        vertical-align: text-top;
    }
    #texts-contato{
        width: 600px;
        height: 950px;
        background-color: #efefef;
        border-radius: 0px 15px 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 15px;
        box-sizing: border-box;
        float: left;
    }
    #texts-contato div h3{
        margin-left: 5px;
        margin-bottom: 5px;
        font-weight: bold;
        text-transform: capitalize;
    }
    #contato-nome, #contato-celular,
    #contato-sexo,#contato-telefone,
    #contato-email,#contato-profissao,
    #contato-home-page,#contato-face{
        height: 100px;
        border-radius: 2px;
        box-sizing: border-box;

        font-family: megan;
        font-size: 22px;
        padding-left: 20px;
        padding-top: 10px;
        color: #03032e;
    }
    #contato-nome{
        width: 300px;
        margin-right: 20px;
        border-left: solid 4px rgb(228, 148, 29);
    }
    #contato-celular{
        width: 220px;
        border-right: solid 4px rgb(228, 148, 29);
    }
    #contato-sexo{
        width: 260px;
        border-right: solid 4px rgb(228, 148, 29);
    }
    #contato-telefone{
        width: 260px;
        border-left: solid 4px rgb(228, 148, 29);
        margin-right: 20px;
    }
    #contato-email{
        width: 310px;
        margin-right: 20px;
        border-left: solid 4px rgb(228, 148, 29);
    }
    #contato-profissao{
        width: 210px;
        border-right: solid 4px rgb(228, 148, 29);
    }
    #contato-assunto{
        width: 540px;
        border-left: solid 4px rgb(228, 148, 29);
        border-right: solid 4px rgb(228, 148, 29);
        height: 70px;
        border-radius: 2px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        font-family: megan;
        font-size: 18px;
        color: #03032e;
    }
    #contato-home-page{
        width: 540px;
        border-left: solid 4px rgb(228, 148, 29);
        border-right: solid 4px rgb(228, 148, 29);
    }
    #contato-face{
        width: 540px;
        border-left: solid 4px rgb(228, 148, 29);
        border-right: solid 4px rgb(228, 148, 29);
    }
    #contato-msg{
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        transition: 0.5s ease-out;
        width: 540px;
        height: 180px;
        box-sizing: border-box;
        border-left: solid 4px rgb(228, 148, 29);
        border-right: solid 4px rgb(228, 148, 29);

        font-family: megan;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 10px;
        color: #03032e;
    }
    #contato-nome:hover, #contato-celular:hover,
    #contato-sexo:hover,#contato-telefone:hover,
    #contato-email:hover, #contato-assunto:hover,
    #contato-msg:hover, #contato-profissao:hover,
    #contato-home-page:hover, #contato-face:hover{
        background-color: #d4dcf5;
        -webkit-transition: background 0.2s ease-out;
        -moz-transition: background 0.2s ease-out;
        transition: background 0.2s ease-out;
    }
    #txt-nome-contato, #txt-telefone-contato,
    #txt-email-contato, #txt-celular-contato,
    #txt-profissao-contato, #txt-home-page-contato,
    #txt-face-contato{
        height: 30px;
        border-radius: 10px;
        border: none;
        box-shadow: 2px 2px 5px #00000041;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.253);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
        padding-left: 5px;

        font-family: roboto;
        font-size: 17px;
    }
    #txt-nome-contato{
        width: 250px;
        text-transform: capitalize;
    }
    #txt-celular-contato{
        width: 170px;
    }
    #rdo-masc, #rdo-femi{
        vertical-align: text-top;
    }
    .lbl-masc, .lbl-femi{
        font-family: megan;
        font-size: 25px;
    }
    #txt-telefone-contato{
        width: 215px;
    }
    #txt-email-contato{
        width: 260px;
    }
    #txt-profissao-contato{
        width: 160px;
        text-transform: capitalize;
    }
    #slc-assunto-contato{
        width: 185px;
        height: 20px;
        border-radius: 10px;
        border: none;
        box-shadow: 2px 2px 5px #00000041;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.253);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
        padding-left: 5px;

        font-family: roboto;
        font-size: 13px;
    }
    #txt-home-page-contato{
        width: 485px;
    }
    #txt-face-contato{
        width: 485px;
    }
    #txt-msg-contato{
        width: 485px;
        height: 115px;
        border-radius: 10px;
        border: none;
        box-shadow: 2px 2px 5px #00000041;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.253);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
        resize: none;
        padding-left: 5px;
        overflow: auto;

        font-family: roboto;
        font-size: 18px;
    }
    #txt-msg-contato:focus{
        outline: none;
    }
    #txt-msg-contato::-webkit-scrollbar {
        width: 10px;
    }

    #txt-msg-contato::-webkit-scrollbar-track {
        background: #ffb300b4;
        background: hsla(42, 100%, 50%, 0.706);
        background: rgba(255, 179, 0, 0.706);
        border-radius: 0px 15px 15px 0px;
    }

    #txt-msg-contato::-webkit-scrollbar-thumb {
        background: #1d42e6af;
        background: hsla(229, 80%, 51%, 0.686);
        background: rgba(29, 66, 230, 0.686);
        border-radius: 0px 30px 30px 0px;
    }

    #txt-msg-contato::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    #btn-enviar{
        width: 100px;
        height: 50px;
        border-radius: 50px;
        background-color: #45da20;
        box-shadow: 2px 2px 5px #00000041;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.255);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
        border: none;
        -webkit-transition: 0.3s ease-in;
        -moz-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
        cursor: pointer;

        font-family: roboto, arial;
        font-size: 18px;
        color: #efefef;
        font-weight: bold;
    }
    #btn-enviar:hover{
        background-color: #ffffff;
        box-shadow: 5px 5px 7px #00000041;
        box-shadow: 5px 5px 7px hsla(0, 0%, 0%, 0.253);
        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.253);
        color: #3ec923;
        -webkit-transition: 0.3s ease-in;
        -moz-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
    }
    /* -----CONTATO----- */



    /* -----SOBRE----- */
    #conteudo-sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #container-sobre{
        width: 1200px;
        min-height: 1050px;
        height: auto;
        overflow: hidden;
        background-color: #efefef;
        box-shadow: 2px 2px 5px #00000065;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.396);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.396);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 50px;
        box-sizing: border-box;
    }
    #img-sobre{
        width: 1100px;
        height: 494px;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    #img-src-sobre{
        max-width: 1100px;
        max-height: 494px;
        border-radius: 15px;
    }
    #txt-sobre{
        width: 1100px;
        min-height: 720px;
        height: auto;
        overflow: hidden;
        padding: 15px;

        font-family: cabin;
        font-size: 28px;
        text-align: justify;
        word-wrap: normal;
        color: #03032e;
        text-indent: 1.5em;
    }
    #assinatura{
        text-align: right;
        margin-top: 50px;
        font-style: italic;
    }
    /* -----SOBRE----- */

    /* -----FOOTER----- */
    #aux-footer{
        width: 100%;
        height: 200px;
    }
    footer{
        width: 100%;
        height: 200px;
        bottom: 0;
        position: absolute;

    }
    #footer-head{
        width: 100%;
        height: 50px;
        background-color: #f3b21a;
    }
    #center-footerHead{
        width: 1300px;
        height: 50px;
        box-sizing: border-box;
        background-color: #f3b21a;

        font-size: 24px;
        font-family: dk, liquid;
        text-align: center;
        color: #08083f;
    }
    #footer-linha1{
        width: 100%;
        height: 150px;
        background-color: rgb(23, 33, 59);
    }
    #center-footerL1{
        width: 1300px;
        height: 150px;
        background-color: rgb(23, 33, 59);
    }
    #footer-linha2{
        width: 100%;
        height: 50px;
        background-color: rgb(200, 214, 248);
    }
    #center-footerL2{
        width: 1300px;
        height: 50px;
        box-sizing: border-box;
        background-color: rgb(200, 214, 248);
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        font-family: cabin;
        text-align: center;
    }
    #horario, #contatos, #endereco{
        height: inherit;
        box-sizing: border-box;
        padding-left: 20px;
        padding-top: 25px;
        float: left;
    }
    #horario{
        width: 433px;
    }
    #contatos{
        width: 434px;
    }
    #endereco{
        width: 433px;
    }
    #horario-icon, #contatos-icon, #endereco-icon{
        width: 50px;
        height: 50px;
        margin-top: 25px;
        float: left;
    }
    #horario-text, #contatos-text, #endereco-text{
        width: 340px;
        height: 100px;
        float: left;
    }
    #title-hora, #title-contatos, #title-endereco{
        font-family: megan;
        font-size: 30px;
        padding-left: 10px;
        color: #ffa114;
        font-weight: bold;
    }
    #text-hora, #text-contatos, #text-endereco{
        font-family: megan;
        font-size: 22px;
        padding-left: 10px;
        color: #efefef;
        letter-spacing: 1px;
    }
    #caixa-logo-kelvinstrap{
        width: 150px;
        height: 40px;
        /* background-color: yellow; */
        margin-left: 4px;
    }
    #logo-kelvinstrap{
        width: 150px;
        height: 40px;
    }
    /* -----FOOTER----- */
}
