h1, h2, h3, h4, h5, h6, p, div, header, footer, body, nav, figure,
ul, li, img, a, section{
    margin: 0px;
    padding: 0px;
}
.center{
    margin: auto;
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(44, 146, 160);
    text-align: center;
    font-size: 42px;
    font-family: 'agency fb';
    color: #ffffff;
}
#conteudo{
    width: 1200px;
    min-height: 1500px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    /* background-color: blueviolet; */
}
#formulario{
    width: 500px;
    min-height: 980px;
    height: auto;
    overflow: hidden;
    background-color: rgb(244, 247, 250);
    box-sizing: border-box;
    margin-top: 50px;
    align-content: center;
}
#formulario h2{
    font-size: 25px;
    font-family: 'agency fb';
    color: #000000;
}
#txt-nome, #txt-endereco, #txt-bairro,
#txt-cep, #txt-telefone, #txt-email,
#txt-data-nasc, #txt-obs{
    font-size: 20px;
    font-family: 'arial narrow';
    color: #000000;
}
#txt-nome:hover, #txt-endereco:hover, #txt-bairro:hover,
#txt-cep:hover, #txt-telefone:hover, #txt-email:hover,
#txt-data-nasc:hover, #txt-obs:hover{
    background-color: rgb(229, 235, 241);
}
#nome{
    width: 300px;
    height: 150px;
    box-sizing: border-box;
    float: left;
    padding-top: 30px;
    padding-left: 25px;
    border-bottom: solid 2px #7f93f0;
}
#txt-nome{
    width: 245px;
    height: 30px;
    font-size: 25px;
}
#sexo{
    width: 200px;
    height: 150px;
    box-sizing: border-box;
    float: left;
    padding-top: 20px;
    padding-left: 40px;
    border-bottom: solid 2px #7f93f0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#rdo-sexo{
    margin-top: 10px;
}
#data_nasc{
    width: 200px;
    height: 150px;
    box-sizing: border-box;
    clear: both;
    float: left;
    padding-top: 30px;
    padding-left: 25px;
    border-bottom: solid 2px #7f93f0;
}
#txt-data-nasc{
    width: 160px;
    height: 30px;
    font-size: 25px;
}
#endereco{
    width: 300px;
    height: 150px;
    box-sizing: border-box;
    float: left;
    padding-top: 30px;
    padding-left: 25px;
    border-bottom: solid 2px #7f93f0;
}
#txt-endereco{
    width: 250px;
    height: 30px;
    font-size: 25px;
}
#bairro{
    width: 280px;
    height: 150px;
    box-sizing: border-box;
    clear: both;
    float: left;
    padding-top: 30px;
    padding-left: 25px;
    border-bottom: solid 2px #7f93f0;
}
#txt-bairro{
    width: 230px;
    height: 30px;
    font-size: 25px;
}
#cep{
    width: 220px;
    height: 150px;
    box-sizing: border-box;
    float: left;
    padding-top: 30px;
    padding-left: 25px;
    border-bottom: solid 2px #7f93f0;
}
#txt-cep{
    width: 170px;
    height: 30px;
    font-size: 25px;
}
#telefone{
    width: 250px;
    height: 150px;
    box-sizing: border-box;
    clear: both;
    float: left;
    padding-top: 30px;
    padding-left: 25px;
    border-bottom: solid 2px #7f93f0;
}
#txt-telefone{
    width: 200px;
    height: 30px;
    font-size: 25px;
}
#celular{
    width: 250px;
    height: 150px;
    box-sizing: border-box;
    float: left;
    padding-top: 30px;
    padding-left: 25px;
    border-bottom: solid 2px #7f93f0;
}
#txt-celular{
    width: 200px;
    height: 30px;
    font-size: 25px;
}
#email{
    width: 500px;
    height: 150px;
    box-sizing: border-box;
    clear: both;
    padding-top: 30px;
    padding-left: 25px;
    border-bottom: solid 2px #7f93f0;
}
#txt-email{
    width: 450px;
    height: 30px;
    font-size: 25px;
}
#obs{
    width: 500px;
    min-height: 150px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 30px;
    border-bottom: solid 2px #7f93f0;
}
#txt-obs{
    width: 450px;
    height: 60px;
    overflow: auto;
    resize: none;

    font-size: 14px;
    word-wrap: normal;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
#txt-obs:hover{
    background-color: rgb(229, 235, 241);
}
#btns{
    width: 500px;
    height: 80px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 155px;
    border-bottom: solid 2px #7f93f0;
}
#btn-salvar{
    width: 80px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;

    font-family: 'agency fb';
    color: #ffffff;
    background-color: #3b9e1d;
    font-size: 22px;
}
#btn-limpar{
    width: 80px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;

    font-family: 'agency fb';
    color: #ffffff;
    background-color: #9e3b1d;
    font-size: 22px;
}

#contatos{
    width: 100%;
    min-width: 300px;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
}
#tbl-contatos{
    width: 100%;
    min-width: 300px;
    height: auto;
    overflow: hidden;
    /* border:solid 1px #000000; */
}
#title-tbl{
    height: 50px;
    background-color: cornflowerblue;
    font-size: 22px;
    font-family: 'agency fb';
    color: #ffffff;
}
#tbl-contatos tr{
    width: 240px;
    /* border:solid 1px #000000; */
}
.tbl-title{
    height: 50px;
    /* border:solid 1px #000000; */
    background-color: rgb(130, 190, 241);
}

#tbl-contatos tr td{
    height: 50px;
    /* border:solid 1px #000000; */
    background-color: rgb(204, 227, 247);
}
